<h1> Hi </h1>
<%= form_for user do |f| %>
Name: <%= f.text_field :name %>
<br>
Password: <%= f.password_field :password %>
<br>
Password Confirmation: <%= f.password_field :password_confirmation %>
How tall are you? <%= f.number_field :height %>
<br>
How happy are you? <%= f.number_field :happiness %>
<br>
How nausea are you? <%= f.number_field :nausea %>
<br>
How much money do u have <%= f.number_field :tickets %>
<br>
Check box if you are a theme park owner <%= f.check_box :admin %>
<%= f.submit %>
<% end %>
