<% if current_user.admin == true %>
  <h1> ADMIN </h1>
<% end %>

Name: <%=current_user.name %>
<br>
Tix: <%=current_user.tickets %>
<br>
Height: <%=current_user.height %>
<br>
Mood: <%=current_user.mood %>
<br>


<%= link_to "Edit", edit_user_path %>
<%= link_to "Log Out",  user_path(current_user), method: :delete %>
